/* Logo */

#logo {
    list-style-type: none;
}


/* Booking and login bar ,Home Page and navigation bar*/

#BookingAndLoging {
    list-style-type: none;
    width: 100%;
    background-color: aquamarine;
}

.menubar {
    float: right;
    display: block;
    background-color: aqua;
}

nav ul li {
    display: inline-block;
}


#NavigationBar {
    list-style-type: none;
    width: 100%;
    background-color: bisque;
}


/* About us */


/* Rooms and suits */


/* Facilities */


/* Gallery */


/* Offers */


/* Contact us */


/*  */


/*  */


/*  */